html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  width: 100px;
  height: 100px;
  border: 1px #ccc dotted;
  margin: 10px;
  border-radius: 50%;
  background-color: #eee;
}

.blue {
  background-color: rgb(78, 78, 214);
}

.green {
  background-color: rgb(26, 92, 26);
}

.pink {
  background-color: rgb(212, 114, 147);
}

.invisible {
  display: none;
}

.visible {
  display: block;
  border: 3px black dashed;
  border-radius: 0;
  background-color: rgb(236, 101, 60);
}
